.app_wrapper{
  display: grid;
  padding: 25px;
  width: 100 px;
  margin: 3px;
    grid-template-areas: 
    ". h h ."
    ". n c ."
  ;
  grid-template-columns: 1fr 1fr 5fr 1fr ;
  grid-template-rows: auto auto;
  grid-gap: 5px;
}
.app_wrapper_content{
  background-color: rgb(19, 6, 54);
  grid-area: c; 
}
 
.myheader{
  grid-area: h;
  background-color: rgb(14, 14, 66);
}
.AllText{
    color : white;
}

