.dialogs_wrapper {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-areas: 
    "f l ."
    "f . r";
    grid-auto-rows: max-content;
    -ms-grid-column-align: end;
    padding: 15px;
}

.EnterMessage {
    padding: 15px;
    margin: 10px;
}


.d_Friend {
    grid-area: f;
}

.RigthSide {
    grid-area: r;
    text-align: right;
    padding: 10px;
    margin: 7px;
    font-weight: bold;
    text-align: right;
}

.LeftSide {
    grid-area: l;
    padding: 10px;
    margin: 7px;
    text-align: left;
    font-weight: bold;
}
